*{
 margin: 0;
 padding: 0;   
}
 
body
{
    margin: auto;
    background: url('images/fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    width: 97%;
    height: 100%;
}

header
{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
}

#titre
{
    width: 25%;
    height: 100%;   
    display: grid;
    align-items: stretch;
}
#logo
{
    display: flex;
    align-items: flex-end;
}
#logo img
{
    width: 40px;
    height: 40px;
}

#menu_nav 
{
    width: 35%;
    height: 140px;
    display: flex;
    flex-direction: column-reverse; 
}
nav
{
    border-radius: 3px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 15px;
}

#menu_nav nav ul
{
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.5em;
   
}
header nav ul li a
{
    color: black;
    padding-left: 26px; 
}

header nav ul li a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;    
}


/*banniere*/
#banniere
{
    background-image: url(images/sanfrancisco.jpg   );
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
}
#banniere .desc
{
    width: 100%;
    height: 50px;
    background-color: rgba(24,24,24,0.8);
}
#banniere .desc .legende
{
    margin-top: 15px;
    float: left;
    color: white;
     
}

#banniere .desc .lien_logo
{
    border-radius: 5px;
    background-color: red;
    width: 12%;
    height: 40px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}
#banniere .desc .lien_logo .contenu 
{
    font-size: 1.3em;
    margin: auto;
}
#banniere .desc .lien_logo .contenu a
{
    color: white;
    text-decoration: none;
}

/*sesction du grand voyageur*/
section
{
    
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: space-between;
}
section article
{
   
    width: 75%;
    height: 630px;;
    
}
section article .title
{
    background-color: ;
    width: 100%;
    height: 60px;
    display: flex;
    font-display: row;
}
section article .title h1
{
    font-size: 1.7em;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 20px;
}

section article .para p
{
    text-align: justify;
    overflow: auto;
}

section aside
{
    width: 25%;
    height: 100%;
    background-color: grey;
}

section aside h1 
{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
    margin-top: 25px;
}
section aside img 
{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
section aside p
{
    text-align: justify;
    margin: 10px;
    font-size: 1.3em;
}

section aside .photos
{
    display: flex;
    justify-content: space-between;
}
 /*footer*/

 footer
{
    display: flex;
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}


#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#mes_amis
{
    width: 31%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#listes_amis
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_amis ul
{
    list-style-image: url('images/ico_liensexterne.png');
    padding-left: 2px;
}

#mes_amis a
{
    text-decoration: none;
    color: #760001;
}


